body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    /* font-family: Arial, Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace; */
}
.text {
    color: red;
}
.color {
    color: green
}
.link {
    text-decoration: none;
}
.center {
    text-align: center;
}